input.error {
  border: 1px solid red;
}
.form-group small {
  color: red;
}
.titleColor {
  font-weight:bold;
}
.todoTitleScrollbar {
  height:40px;
  display: block;
  overflow: auto;
}
.todosScrollbar {
  width:309px;
  height:400px;
  display: block;
  overflow: auto;
}
