input.error {
  border: 1px solid red;
}
.form-group small {
  color: red;
}
.titleColor {
  font-weight:bold; 
}
.container {
  width: 540px;
}
.formAlignment {
  position:relative;
  left:260px
}
.headerStyle {
  background-color:black; 
  height:65px
}
.leftStyle {
  color:white;
}
.rightStyle {
  position: relative; 
  top: 22%;
}