<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <title>AngularApp</title>
  <meta property="fb:app_id" content="723487527699297" />
  <meta property="og:type"   content="article" />
  <meta property="og:title"  content="<%= @todo.title %>" />
  <meta property="og:description"  content="<%= @todo.description %>" />
  <meta property="og:image" content="<%= @todo.image_url %>" />
</head>
<body>
</body>
</html>
