<h2>Login</h2>
<div controller="SessionController">
  <form ng-submit="login()" name="login-form" id="login_form" class="form-horizantal">
    <div class="form-group">
      <input ng-model="user.email" placeholder="User name" />
    </div>
    <input type="password" ng-model="user.password" placeholder="password" />
    <button type="submit">Login</button>
  </form>
  <button id="dummyGplusLoginBtn" ng-click="gPlusCheck('login')">G+ Login</button>
  <button ng-click="fbCheck('login')">FB Login</button>
</div>
