<div style="width: 360px; margin: 135px auto 0 auto;" class="well">
  <h2 class="titleColor">Login</h2>
  <div ng-show= "loginFailedMessage.social_login_failed" class="alert alert-danger" role="alert">{{loginFailedMessage.social_login_failed_message}}</div>
  <div ng-show= "loginFailedMessage.insider_login_failed" class="alert alert-danger" role="alert">{{loginFailedMessage.insider_login_failed_message}}</div>
  <div controller="SessionController">
    <form  name="loginForm" novalidate ng-submit="login()" id="login-form" class="form-horizantal">
      <div class="form-group">
        <input class="form-control" style="width:250px" name="email" type="email" ng-model="user.email" placeholder="User name" required ng-class="{error: submitted && loginForm.email.$invalid}"/>
        <small ng-show="loginForm.email.$error.required && submitted"> Please enter email</small>
        <small ng-show="loginForm.email.$error.email && submitted">Please enter Valid email</small>
      </div>

      <div class="form-group">
        <input class="form-control" style="width:250px" name="password" type="Password" ng-model="user.password" placeholder="Password" required ng-class="{error: submitted && loginForm.password.$invalid}"/>
        <small ng-show="loginForm.password.$error.required && submitted">Please enter Password</small>
      </div>
      <button type="submit" class="btn btn-primary" ng-click="submitted=true">Login</button>
      <hr style="border: 1px solid;color: #dedede" />
      <p>OR</p>
      <button class="btn btn-google-plus" id="dummyGplusLoginBtn" ng-click="gPlusLogin('login')"><i class="fa fa-google-plus"></i> | Login with G+</button>
      <button class="btn btn-facebook" ng-click="fbLogin('login')"><i class="fa fa-facebook"></i> | Login with Facebook</button>
    </form>
  </div>
</div>

