<div controller="TodoListCtrl">
  <form name="createTodoForm" novalidate ng-submit="createtodo()">
    <div class="titleColor">Create Todo</div>
    <div class="input-group">
      <span class="label label-default" style="background-color:green">Title</span>
      <input type="text" name="title" class="form-control" ng-model='title' required ng-class="{error: submitted && createTodoForm.title.$invalid}">
      <small ng-show="createTodoForm.title.$error.required && submitted">Please enter title</small>
    </div>
    
    <div class="input-group">
      <span class="label label-default" style="background-color:green">Description</span>
      <input type="text" name="description" class="form-control" ng-model='description' required ng-class="{error: submitted && createTodoForm.description.$invalid}">
      <small ng-show="createTodoForm.description.$error.required && submitted">Please enter description</small>
    </div>
    
    <div class="input-group">
      <span class="label label-default" style="background-color:green">Image URL</span>
      <input type="url" name="url" class="form-control" ng-model='image_url' required ng-class="{error: submitted && createTodoForm.url.$invalid}">
      <small ng-show="createTodoForm.url.$error.required && submitted">Please enter URL</small>
      <small ng-show="createTodoForm.url.$error.url && submitted">Please enter Valid URL</small>
    </div>
    <input type='submit' value="submit" class="btn btn-primary" ng-click="submitted=true">
  </form>
</div>