<h2>Create Todo</h2>
<form ng-submit="createTodo()">
    Add Todo
    <div class="input-group">
      <span class="label label-default">Title</span>
      <input type="text" class="form-control" ng-model='title'>
    </div>
    <div class="input-group">
      <span class="label label-default">Description</span>
      <input type="text" class="form-control" ng-model='description'>
    </div>
    <div class="input-group">
      <span class="label label-default">Image URL</span>
      <input type="text" class="form-control" ng-model='image_url'>
    </div>
    <input type='submit' value="submit" class="btn btn-default">
</form>