<div class="row">
  <div class="col-xs-12 col-md-3 well ">
    <div ng-controller = 'TodoListCtrl'>
    <div>
      <span class="pull-left">
         <b>Todos</b>
      </span>
      <span>
        <a ui-sref='home.todos.create' class="pull-right btn btn-success" style="margin: -7px -6px 12px 0px">Create Todo</a>
      </span></b>
    </div>
    <div style="clear: both"></div>
      <div class="list-group">
        <a ui-sref="home.todos.show({todoId: todo.id})" class="list-group-item" ng-repeat="todo in todos | reverse" ui-sref-active="active">{{todo.title}}</a>
      </div>
    </div>
  </div>
  <div class="col-xs-7 col-md-6 .col-xs-offset-2 col-md-offset-1">
    <div ui-view></div>
  </div>
</div>
