<div class="row">
  <div class="col-md-8">
    <p><b>Title:</b> {{todo.title}}</p>
    <p><b>Description</b>: {{todo.description}}</p>
  </div>
  <div class="col-md-4">
    <img src="{{todo.image_url}}" width='150px' height='150px'/>
  </div>
</div>

<button class="btn btn-facebook" ng-click="fbShare('share', todo)" id="fbBtn"><i class="fa fa-facebook"></i> | FB Share</button>
<button class="btn btn-google-plus" id="dummygplusBtn" ng-click="gPlusShare('share', todo)"><i class="fa fa-google-plus"></i> |G+ Share</button>
